.secondary-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8.5vh;
  background-color: #2c564f;
  h1 {
    padding-left: 10px;
    margin: 0 !important;
    padding-bottom: 0;
    color: #fff;
  }
}

.secondary-header > h1, .secondary-header > img {
  cursor: pointer;
}
