.character-name {
  font-size: 3rem;
  padding-top: 4
}

.content {
  padding-top: 4rem;
}

th {
  background-color: #393939;
  color: #fff;
  padding: 10px;
}

.character-img {
  object-fit: contain;
  max-height: 80vh;
}
