.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

mat-card {
  height: 485px;
  min-height: 485px;
}

mat-card-content {
  height: 17vh;
}

mat-card-actions > button {
  width: 100%;
}
